
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #24647d;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  font-style: italic;
}
h1:hover{
  background-color: rgb(89, 41, 133);
  transition: 1s;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  
  background-color: rgb(29, 29, 28);

}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  backdrop-filter: blur(0px);
    cursor: pointer;
    transition: all 1s ease;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;

}

#user-score,
#comp-score {
  font-size: 4rem;
  color:rgb(14, 16, 16);
}
.msg-container {
  margin-top: 6rem;
}
#msg {
  background-color: #324b0e;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
#msg:hover{
  background-color: rgb(74, 123, 213);
  transition: 1s;
}